/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .weather-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Cabecera */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f7c40;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .header div {
    font-size: 1.1em;
  }
  
  /* Sección Principal */
  .weather-dashboard {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .weather-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .weather-card .left {
    font-size: 1.3em;
  }
  
  .weather-card .right h1 {
    font-size: 3.5em;
    color: #f39c12;
  }
  
  .forecast {
    display: flex;
    justify-content: space-between;
  }
  
  .day {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .day span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Sección de Destacados */
  .section-title {
    font-size: 1.6em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .highlights {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .highlight {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 15%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .highlight p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .highlight h2 {
    margin: 0;
    font-size: 1.5em;
    color: #f39c12;
  }
  
  /* Otras Ciudades */
  .other-cities {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  .city {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .city p {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .city h2 {
    font-size: 1.2em;
    color: #f39c12;
  }
  
  /* Predicción de Temperatura */
  .temperature-prediction {
    margin-top: 30px;
    text-align: center;
  }
  
  .temperature-prediction img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  