<app-menu-lateral></app-menu-lateral>
<app-admin-navbar></app-admin-navbar>
<div *ngIf="usuario" class="container perfil-container">
    <!-- 
    <h2 class="mb-4 text-center">Perfil de Usuario</h2>
-->
    <div id="profile-card" class="card shadow-lg border-0 rounded">
        <div class="card-header bg-gradient-primary text-white">
            <h5 class="mb-0">Información del Usuario</h5>
        </div>

        <div *ngIf="usuario" class="container mt-4">
            <div class="header text-end mb-3">
                <button class="edit-mode-btn">Editar</button>
            </div>

            <div class="profile">
                <div class="profile-image">
                    <img src="../../../assets/img/login.png" alt="Profile Picture">
                </div>

                <div class="profile-details">
                    <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
                    <p class="job-title">{{ usuario.rol }}</p>
                    <div class="contact-info">
                        <p><strong>Correo principal:</strong> {{ usuario.correo }}</p>
                    </div>
                </div>
            </div>

            <p *ngIf="mensajeError" class="text-danger mt-4">{{ mensajeError }}</p>
        </div>
    </div>
</div>
